<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>Crypto Mobile Template</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

	<!-- Animate css file for css3 animations. for more : https://daneden.github.io/animate.css -->
	<!-- Only use animate action. If you dont use animation, you don't have to add.-->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<link rel="stylesheet" type="text/css" href="css/cryptocoins.css">
	<link rel="stylesheet" type="text/css" href="plugins/c3-chart/c3.css">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="css/global.style.css">

	<!-- Swiper slider css file -->
	<link rel="stylesheet" href="css/swiper.min.css">

	<!--turbo slider plugin css file -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="plugins/turbo-slider/turbo.css">

</head>

<body>
	
	<div class="wrapper ">
	
			
			
				<!-- Menu navigation start -->
				
			<!-- Menu navigation end -->
			
		
			<div class="wrapper-inline">
				<!-- Header area start -->
				<header class="no-background"> <!-- extra class no-background -->
	   
				   <div class="search-button" data-search="open">
					  <a href="http://localhost:3000/mypage"><img src="img/content/notification1.png" class="not-icon1" alt=""><a>
						 <a href="http://localhost:3000/mypage"><img src="img/content/notification2.png" class="not-icon2" alt=""></a>
				   </div>
	   
					   <h1 class="page-title">참여 가능한 프로젝트</h1>
				   <div class="navi-menu-button">
					  <em></em>
					  <em></em>
					  <em></em>
				   </div>
	   
				</header>
			<!-- Header area end -->

			
			<!--NOTIFICATION BOX CONTENT END-->

			<!-- Page content start -->
			<main class="margin mt-0">

				<div class="dash-balance">
					<div class="dash-content relative">
						<h3 class="w-text"  id = "myPoint" ></h3>
						<!--<div class="notification">
							<a href=""><i class="fa fa-plus"></i></a>
						</div>-->
					</div>
				</div>

				<section class="bal-section container">
                    <!--디자인 고치기-->
                    <!---여기-->
                    <section class="bal-section container">
                        <div class="ref-card c1">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-grow">
                                  <div class="mr-auto">
                                    <h2 class="b-val" id = "proindex"></h2>
                                    <div></div>
                                    <p class="g-text mb-10"></p>
                                    <p class="g-text mb-20" id = "period"></p>
                                    <div class="badge badge-pill" id = "totalMoney"></div>
                                  </div>
                                </div>
                             </div>
                        </div>
                    <!--<div class="resources-card-wrapper">
						<div class="resources-card mr-10">
	                        <div class="d-flex flex-column flex-md-row">
	                          <div class="d-flex flex-column ml-md-2">
	                            <p class="text-muted mb-10 font-weight-medium" id = "proindex"></p>
	                            <div class="progress">
	                                <div class="progress-bar bg-primary" role="progressbar" style="width: 80%"></div>
                                  </div>
                                <small class="text-muted d-block" id = "startDate">시작날짜 : </small>
                                <small class="text-muted d-block" id = "endDate">끝나는 날짜 : </small>
	                            <h4 class="mt-10 mb-0" id = "totalMoney">총 모인 금액 : </h4>
	                          </div>
	                        </div>
	                    </div>
					</div>-->
				</section>

			    <class="container">
			    	<div class="resources-card-wrapper mt-15" id = "btnChange">
						<!-- 버튼 자리 -->
		    		</div>
			    </section>


				<footer>
					<div class="container">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
						<p>Copyright © All Right Reserved</p>
					</div>
				</footer>
			</main>
			<!-- Page content end -->
		</div>
	</div>

	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	<!-- JQuery library file. requared all pages -->
	<script src="js/jquery-3.2.1.min.js"></script>

	<!-- Swiper JS -->
    <script src="js/swiper.min.js"></script>

	 <!-- Initialize Swiper -->
 	
  	<!-- Flot Charts -->
	<script src="plugins/c3-chart/c3.min.js"></script>
	<script src="plugins/c3-chart/d3.min.js"></script>
	<script src="plugins/c3-chart/c3.custom.js"></script>
  	<!-- Flot Charts -->
	<script src="plugins/flot/jquery.flot.min.js"></script>
	<script src="plugins/flot/jquery.flot.time.min.js"></script>
	<script src="plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="plugins/flot/jquery.flot.tooltip.min.js"></script>
	<script src="plugins/flot/jquery.flot.resize.min.js"></script>
    <!-- Sparkline-->
    <script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>

	<!-- Template global script file. requared all pages -->
	<script src="js/app-charts.js"></script>
	<script src="js/global.script.js"></script>


    <script>


	///////id 실제로 받아 오는 것으로 수정하기
	var jwtToken = sessionStorage.getItem('jwtToken')
    $.ajax({
		url:'http://localhost:3000/getpoint',
		type : 'POST',
		headers : {
			'x-access-token' : jwtToken
		},
		data : {
		},
		success:function(data){
			var point = data.point;
			var pointFormat = numberFormat(data.point);
			var afterStartPoint = point - 100000;
			var afterStartPointtFormat = numberFormat(afterStartPoint);

			var jwtToken = sessionStorage.getItem('jwtToken')

			$.ajax({
				url:'http://localhost:3000/main',
				type : 'POST',
				headers : {
					'x-access-token' : jwtToken
				},
				data : {},
				success:function(data){
					var proindex = data.proindex;
					$("#proindex").text(proindex + "회차");
					var start = new Date(data.start);
					var startFormat = start.format('yyyy년 MM월 dd일');

					var finish= new Date(data.finish);
					var finishFormat = finish.format('yyyy년 MM월 dd일');

					$("#period").append(startFormat +"<br> " + finishFormat);
					var money = data.people * 100000;
					var moneyFormat = numberFormat(money);
					$("#totalMoney").append(moneyFormat + "원");
					$("#totalMoney").append('<i class="txt-green fa fa-arrow-up ml-10"></i>');

					var joinornot = data.joinornot;




					//참여중인 프로젝트가 없을 때
					if(joinornot == 0){
						$("#btnChange").append('<button type="button" id = "joinBtn" class="button circle block orange" onclick="joinEventFunc(\''+proindex+'\')">참여하기</button>');
						$("#myPoint").text(pointFormat + "원");
					}
					//참여중인 프로젝트가 있을 때
					//프로젝트 포기가 가능할 때
					else if(joinornot == 1){
						$("#btnChange").append('<button type="button" id = "giveUpBtn" class="button circle block orange" onclick="giveUpEventFunc(\''+proindex+'\')">포기하기</button>');
						$("#pageTitle").text('참여중인 프로젝트');
						$("#myPoint").text(pointFormat + "원");
					}
					//참여중인 프로젝트가 있을 때
					//프로젝트가 끝나기 전일 때 //포기 불가
					else if(joinornot == 2){
						//alert(afterStartPointtFormat);
						$("#myPoint").text(afterStartPoint + "원");
					}
					//참여중인 프로젝트가 있을 때
					//프로젝트 기간이 끝났을 때
					else{
						$("#btnChange").append('<button type="button" id = "imgUploadBtn" class="button circle block orange">이미지 업로드 하기</button>');
						$("#pageTitle").text('완료된 프로젝트');
						$("#myPoint").text(afterStartPoint + "원");
					}
				}
			})
		}
    })

	function numberFormat(inputNumber) {
		return inputNumber.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}
    function fn(str){
        var res;
        res = str.replace(/[^0-9]/g,"");
        return res;
    }


    /*$("#joinBtn").click(function(){
        var proindex = fn($("#proindex").text());
        console.log(proindex);
        location.href = "http://localhost:3000/charge?proindex=" + proindex;
    })*/

    Date.prototype.format = function (f) {
        if (!this.valueOf()) return " ";

        var weekKorName = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
        var weekKorShortName = ["일", "월", "화", "수", "목", "금", "토"];
        var weekEngName = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        var weekEngShortName = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
        var d = this;

        return f.replace(/(yyyy|yy|MM|dd|KS|KL|ES|EL|HH|hh|mm|ss|a\/p)/gi, function ($1) {
            switch ($1) {
                case "yyyy": return d.getFullYear(); // 년 (4자리)
                case "yy": return (d.getFullYear() % 1000).zf(2); // 년 (2자리)
                case "MM": return (d.getMonth() + 1).zf(2); // 월 (2자리)
                case "dd": return d.getDate().zf(2); // 일 (2자리)
                case "KS": return weekKorShortName[d.getDay()]; // 요일 (짧은 한글)
                case "KL": return weekKorName[d.getDay()]; // 요일 (긴 한글)
                case "ES": return weekEngShortName[d.getDay()]; // 요일 (짧은 영어)
                case "EL": return weekEngName[d.getDay()]; // 요일 (긴 영어)
                case "HH": return d.getHours().zf(2); // 시간 (24시간 기준, 2자리)
                case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2); // 시간 (12시간 기준, 2자리)
                case "mm": return d.getMinutes().zf(2); // 분 (2자리)
                case "ss": return d.getSeconds().zf(2); // 초 (2자리)
                case "a/p": return d.getHours() < 12 ? "오전" : "오후"; // 오전/오후 구분

                default: return $1;
            }
        });
    };
    String.prototype.string = function (len) { var s = '', i = 0; while (i++ < len) { s += this; } return s; };
    String.prototype.zf = function (len) { return "0".string(len - this.length) + this; };
	Number.prototype.zf = function (len) { return this.toString().zf(len); };

	function joinEventFunc(indexValue){
		console.log(indexValue);
		location.href = "http://localhost:3000/charge?proindex="+indexValue
	}

	function giveUpEventFunc(indexValue){
      console.log(indexValue);
      
      function getQueryStringObject() {
      var a = window.location.search.substr(1).split('&');
      if (a == "") return {};
      var b = {};
      for (var i = 0; i < a.length; ++i) {
         var p = a[i].split('=', 2);
         if (p.length == 1)
            b[p[0]] = "";
         else
            b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
      }
      return b;
      }
   
      var qs = getQueryStringObject();
      var jwtToken = sessionStorage.getItem('jwtToken');
   
      
   
       
      
      $.ajax({
      url:'http://localhost:3000/deposit',
      type : 'POST',
      headers : {
         'x-access-token' : jwtToken
      },
      data : {
         fin_use_num : qs.fin_use_num
         
      },
      success:function(data){
         console.log(data);
         alert("환불이 완료되었습니다.")
         $("#depositList").text(data.tran_amt);
         window.location.href="http://localhost:3000/main";
      }
   })
   
   
   }
    </script>

</body>

</html>